@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707;
}
a {
  color: #3ea6ff !important;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
  display: block;
  background: #949393;
  transform: translateX(-10px) !important;
  transition: all 0.4s ease-in;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(105, 105, 105); /* Màu sắc khi hover */
  border-radius: 20px !important;
}
